<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
  <nav class="navbar navbar-expand-sm navbar-default">

    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" [routerLink]="['/home']">
        <img src="../../assets/img/logoapexwhite.png" alt="Logo">
      </a>
      <a class="navbar-brand hidden" [routerLink]="['/home']">
        <img src="../../assets/img/logoapexwhite.png" alt="Logo">
      </a>
    </div>

    <div id="main-menu" class="main-menu collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a [routerLink]="['/home']">
            <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
        </li>
        <h3 class="menu-title">Ações</h3>
        <!-- /.menu-title -->
        <li class="menu-item-has-children dropdown">
          <a style="cursor:pointer" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="menu-icon ti-pencil-alt"></i>Editar site</a>
          <ul class="sub-menu children dropdown-menu">
            <li>
              <i class="ti-bag"></i>
              <a [routerLink]="['editar']">Dados Contato</a>
            </li>
            <li>
                <i class="ti-layout"></i>
                <a [routerLink]="['editarcabecalho']">Dados cabeçalho</a>
              </li>
              <li>
                  <i class="ti-comments-smiley"></i>
                  <a [routerLink]="['sobrenos']">Dados Sobre nós</a>
                </li>
          </ul>
        </li>               
        <!-- /.menu-title -->
        <li class="menu-item-has-children dropdown">
          <a style="cursor:pointer" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="menu-icon ti-palette"></i>Criar</a>
          <ul class="sub-menu children dropdown-menu">
            <li>
              <i class="menu-icon ti-video-camera"></i>
              <a [routerLink]="['evento']">Eventos</a>
            </li>
            <li>
              <i class="menu-icon ti-blackboard"></i>
              <a [routerLink]="['projeto']">Projetos</a>
            </li>           
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
</aside>
<!-- /#left-panel -->